body {
    background: white;

}



h1 {
    color: white;
    font-family: Lato;
    font-weight: 700;
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    font-family: Lato;
      
}

footer{
    font-family: Lato;
    text-align: center;
    /* border-top: 5px solid red; */
    margin-top: 50px;
    
    padding-top: 20px;
    padding-bottom: 50px;
  
}

section.font{
    font-family: Lato;
    
}

section h2{
    margin-top: 20px;
    padding-bottom: 1px;
    
}

section hr {
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


button.btn {
    font-family: Lato;
    color: black;
}

.anchor {
    padding-top: 40px; margin-top: -40px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

table td .fab {
    text-align: right;
    
}


hr.hrb {
    width: 20%;
    border-top: 3px solid red;
    border-bottom: 6px solid rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.btmfoot {
    margin-top: 15px;
    text-align: center;
}
.jumbotron {
    margin: 10px;
}

.me{
    /* background: url(imgs/me.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
    text-align: center;
    padding-top: 20%; */
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
    text-align: center;
    padding-top: 20%;
}


.navbar {
    
    border-radius: 5px;
}

.form {
    text-align: center;
}
.fab {
    font-size: 30px;
}

.link {
    color: pink;    
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.center {
    text-align: center;
  }